@charset "utf-8";

*{
    box-sizing:border-box;
}

/*------GRID------*/
main{
    display:grid;
    grid-gap:5px;
    grid-template-columns:
        "h h h h"
        "n n n n"
        "a a a a"
        "f f f f"
    ;
}
header{grid-area:"h";}
nav{grid-area:"n";}
article{grid-area:"a";}
footer{grid-area:"f";}
/*------GRID------*/
main{
    border:1px solid black;
    width:80%;
    max-width:1200px;
    margin:auto;
}
header{
    text-align:center;
}
nav{
    border-top:1px solid black;
    border-bottom:1px solid black;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}
nav li{
    list-style-type:none;
    margin:10px;
}
nav li a{
    text-decoration:none;
    border:1px solid grey;
    border-radius:15px;
    padding:4px;
}
footer{
    border-top:1px solid black;
    text-align:center;
}
.ingatlan_container{
    display:flex;
    justify-content:space-evenly;
    flex-direction:row;
}
.ingatlan{
    border:1px solid grey;
    border-radius:15px;
    padding:5px;
}
#torolGomb{
    float:right;
}