@charset "utf-8";

*{
    box-sizing:border-box;
}

/*------GRID------*/
main{
    display:grid;
    grid-gap:5px;
    grid-template-columns:
        "h h h h"
        "n n n n"
        "a a a a"
        "f f f f"
    ;
}
header{grid-area:"h";}
nav{grid-area:"n";}
article{grid-area:"a";}
footer{grid-area:"f";}
/*------GRID------*/
header, nav, article, footer{
    border:1px solid black;
}
main{
    width:80%;
    max-width:1000px;
    margin:auto;
}
header{
    text-align:center;
}
footer{
    text-align:center;
}